{% extends "base.html" %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center">Добавить нового автора</h1>
    <form method="post" action="{% url 'add_quotes:add_author' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Имя автора</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="bio" class="form-label">Биография</label>
            <textarea id="bio" name="bio" class="form-control" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</div>
{% endblock %}
