{% extends "base.html" %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center">Добавить новую цитату</h1>

    <form method="post" action="{% url 'add_quotes:upend_quote' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="quote" class="form-label">Текст цитаты</label>
            <textarea id="quote" name="quote_text" class="form-control" rows="4" required></textarea>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Автор</label>
            <select id="author" name="author" class="form-select" required>
                {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</div>
{% endblock %}
